html {
    background: url(../images/website-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
}

#mainDiv {
    text-align: center;
    margin-top: 10%;
    width: 50%;
}

#city {
    margin: 50px 0;
}

#weather, #errorAlert{
    margin-top: 15px;
}

#weatherImage{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.hidden{
    display: none;
}

 .h3,
 h3 {
     font-size: 1.56rem
 }

 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6,
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Poppins", sans-serif;
     font-weight: 500
 }

.card-header{
    text-align: left;
}

#weatherDetails{
    text-align: left;
}

p{
    margin: 0px;
}


